*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Helvetica, sans-serif;
}

.bg-black{
  background-color: black;
  color: white;
}

.container{

  width: 80%;
  margin: 0px auto;
  padding: 10px 5px;
  max-width: 1200px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;

}

.float-dx{
  float: right;
}

.float-sx{
  float: left;
}

.btn{
  padding: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover{
  color: blue;
}

 ul li a:hover{
  text-decoration: underline;
}

.btn.btn-big{
  padding: 10px 30px;
}


/* HEADER */

header{
  background-color: rgb(49, 97, 224);
}

header .logo, header .menu, header .sign-in{
  display: inline-block;
  vertical-align: middle;
}

.logo{
  display: inline-block;
  width:19%
}

.menu {
  width: 60%;
  text-align: center;
}
.menu ul li {
  display: inline-block;
  padding: 20px;
  
}

.menu ul li a{
  text-decoration: none;
  color: white;
}

header .sign-in{
  width: 19%;
  text-align: right;
}


/* JUMBOTRON */

.jumbotron{
  height: 600px;
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.jumbotron-content h2 {
  padding-bottom: 40px;
  font-size: 3rem;
}

.jumbotron-content p{
  font-size: 1.3rem;
}

.jumbotron-content .jumbotron-action{
  padding: 25px;
}

.jumbotron-content .jumbotron-action button{
  margin: 0 15px;
  font-size: 1.3rem;
}


/* MAIN */

section{
  padding: 100px 0;
}

section:nth-child(even){
  background-color: rgb(246, 246, 246);
  margin: 10px 0 0 0;
}

.image{
  display: inline;
}

section .text{
  padding-top: 40px;
}

section .text h2{
  font-size: 2.5rem;
}

section .text p{
  line-height: 30px;
  padding-top: 30px;
  font-size: 1.1rem;
}
main> :last-child{
  text-align: center;

}
section h3{
  padding: 0 30px;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 120px;
  color: black;
  background-image: url(../img/stars.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.get-started button{
  background-color: rgb(142, 161, 225);
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

/* FOOTER */

footer{
  background-color: rgb(35, 39, 42);
  color: white;
  
}

footer .footer-top{
  padding-top: 70px;
  border-bottom: 1px solid rgb(142, 161, 225);
}

footer h2{
  text-align: left;
  font-size: 2rem;
  color: rgb(115, 139, 221);
  padding-bottom: 20px;
}
footer h3{
  text-align: left;
  padding-top: 12px;
  
  color: rgb(115, 139, 221);
  padding-bottom: 20px;
}

footer span{
 font-size: 20px;
 margin-bottom: 10px;
 display: inline-block;
}

footer .col-2 ul li{
  list-style: none;
  display: inline; 
  margin-right: 20px;
}

footer ul {
  list-style: none;
}
footer ul li{
  line-height: 30px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li a i{
  color: white;
}

footer .col-2{
  width: calc((100%/6)*2);
   
}

footer .col-2 img{
  width: 25px;
}

footer .col{
  width: calc((100%/6));
}

footer .logo, footer .sign-up{
  display: inline-block;
  padding: 30px 0;
}

footer .sign-up button{
  background-color: rgb(142, 161, 225);
  color: white;
}